[Unit]
Description=Alertmanager Service

[Service]
User=root
ExecStart=/usr/local/bin/alertmanager \
          --config.file=/etc/alertmanager/alertmanager.yml \
          --storage.path=/var/lib/alertmanager 

Restart=on-failure

[Install]
WantedBy=multi-user.target
